<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link type="text/css" rel="stylesheet" th:href="@{/css/admin.css}" />
<title>Document</title>
</head>
<body>
	<!-- navbar -->
	<div th:replace="admin/navbar :: navbar"></div>
	<!-- navbar -->
	<div class="container-fluid">
		<div class="row flex-nowrap">

			<div th:replace="admin/slidebar :: slidebar"></div>

			<div class="col py-3">
				<h1 class="h3 mb-2 text-gray-800">Danh sách Feedback</h1>

				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Feedback List</h6>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="offset-8 col-lg-4 mb-3">
								<form action="" method="">
									<div class="input-group">
										<input type="text" name="keyword5" value=""
											class="form-control" placeholder="Tìm theo tên">
										<div class="input-group-append">
											<button class="btn btn-primary">
												<i class="bi bi-search"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<table th:id="feedback-table" class="table table-bordered" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>STT</th>
									<th>Fullname</th>
									<th>Email</th>
									<th>Date added</th>
									<th></th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>STT</th>
									<th>Fullname</th>
									<th>Email</th>
									<th>Date added</th>
									<th></th>
								</tr>
							</tfoot>
							<tbody>
								<tr>
									<td>1</td>
									<td>Pham Minh Trung</td>
									<td>trungpmpd05907@fpt.edu.vn</td>
									<td>2023-05-09</td>
									<td><a href="feedbackDetail" class="btn btn-success"><i
											class="bi bi-eye-fill"></i></a> <a href="" class="btn btn-danger"><i
											class="bi bi-trash-fill"></i></a></td>
								</tr>
							</tbody>
						</table>
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-end">
								<li class="page-item"><a class="page-link" href="#">Previous</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">Next</a></li>
							</ul>
						</nav>
					</div>

				</div>
			</div>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
	<script type="text/javascript">
		var size;
		//get current page to load page when delete or update a record
		var currentPageForEditAndDelete;
		$('table tbody').on('click', 'tr', function() {
			var firstRow = $(this).closest('tbody').find('tr:first');
			var startIndex = firstRow.children('td:first').text();
			currentPageForEditAndDelete = Math.ceil((startIndex - 1) / size);
		});
		//get data for table for first

		loadData(0);
		
		//get data for table
		function loadData(page) {
			var table = "#feedback-table tbody";
		    $.ajax({
		      url: '/feedback/getUserPage',
		      type: 'GET',
		      dataType: 'json',
		      data: {page : page},
		      success: function(data) {
		        //clear table
		        $(table).empty();
		
		        //add record
		        $.each(data.userResponseDtos, function(index, user) {
		        	var row = $('<tr>');
		            row.append($('<td>').text(data.currentPage * data.size + index+1));
		            row.append($('<td>').attr('fullname','fullname').text(user.fullName));
		            row.append($('<td>').attr('email','email').text(user.email));
		            row.append($('<td>').attr('phone','phone').text(user.phone));
		            row.append($('<td>').attr('address','address').text(user.address));
		            row.append($('<td>').attr('roleName','roleName').text(user.roleName));
		            
		            row.append($('<td>').attr({
		            	'data-id': user.id,
		                'data-bs-toggle': 'modal',
		                'data-bs-target': '#editUser'
		            }).addClass('text-primary').html('<i class="bi bi-pencil-square"></i>Set Role'));
		            
		            row.append($('<td>').attr({
		            	'data-id': user.id,
		                'data-bs-toggle': 'modal',
		                'data-bs-target': '#deleteUser'
		            }).addClass('text-danger').html('<i class="bi bi-trash"></i>Delete'));
		            $(table).append(row);
		        });
		         pagination = '';
		         currentPage = data.currentPage;
		         totalPages = data.totalPages;
		         size = data.size;
		        //create pagination 
		       createPagination("#paging",pagination,currentPage,totalPages );
		      },
		      error: function(){}})}
	</script>
</body>
</html>