<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link type="text/css" rel="stylesheet" th:href="@{/css/admin.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/css/product.css}" />
<title>Document</title>

</head>
<body>
	<!-- navbar -->
	<div th:replace="admin/navbar :: navbar"></div>
	<!-- navbar -->

	<div class="container-fluid">
		<div class="row flex-nowrap">

			<div th:replace="admin/slidebar :: slidebar"></div>

			<div class="col py-3">
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<button class="nav-link active" id="nav-home-tab"
							data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
							role="tab" aria-controls="nav-home" aria-selected="true">List
							Product</button>
						<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
							data-bs-target="#nav-profile" type="button" role="tab"
							aria-controls="nav-profile" aria-selected="false">Add
							Product</button>
					</div>
				</nav>
				<br>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home"
						role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="row">
							<div class="offset-8 col-lg-4 mb-3">
								<form action="" method="">
									<div class="input-group">
										<input type="text" name="keyword5" value=""
											class="form-control" placeholder="Tìm theo tên">
										<div class="input-group-append">
											<button class="btn btn-primary">
												<i class="bi bi-search"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<table class="table table-striped table-bordered table-image">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Image</th>
									<th scope="col">Title</th>
									<th scope="col">Product</th>
									<th scope="col">Price</th>
									<th scope="col">Current price</th>
									<th scope="col">Discount product</th>
									<th scope="col">Gender</th>
									<th scope="col">Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td class="w-25"><img
										src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg"
										class="img-fluid img-thumbnail" alt="Sheep" width="150">
									</td>
									<td>Áo</td>
									<td>Mens</td>
									<td>$100</td>
									<td>$100</td>
									<td>$100</td>
									<td>Nam</td>
									<td>Simple fashion</td>
									<td><a href="" class="text-decoration-none"><i
											class="bi bi-pencil-square"></i> Edit</a> <a href=""
										class="text-decoration-none text-danger"><i
											class="bi bi-trash"></i> Delete</a></td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td class="w-25"><img
										src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-5.jpg"
										class="img-fluid img-thumbnail" alt="Sheep" width="150"></td>
									<td>Áo</td>
									<td>Mens</td>
									<td>$100</td>
									<td>$100</td>
									<td>$100</td>
									<td>Nam</td>
									<td>Simple fashion</td>
									<td><a href="" class="text-decoration-none"><i
											class="bi bi-pencil-square"></i> Edit</a> <a href=""
										class="text-decoration-none text-danger"><i
											class="bi bi-trash"></i> Delete</a></td>
								</tr>
							</tbody>
						</table>
						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-end">
								<li class="page-item"><a class="page-link" href="#">Previous</a></li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">Next</a></li>
							</ul>
						</nav>


					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel"
						aria-labelledby="nav-profile-tab">
						<div class="card">
							<div class="card-header">
								<h6>Product information:</h6>
							</div>
							<div class="card-body bg-light bg-gradient">

								<div class="input-group row">
									<b class="col-2">Title:</b>
									<div class="col-7">
										<input th:id="title" type="text" class="form-control"> 
										<small style="height:15px" th:id="title-error" class="text-danger form-text error"></small>
									</div>
								</div>
								<hr>
								<div class="input-group row">
									<b class="col-2">Category:</b>
									<div class="col-7">
										<select th:id="category" class="form-select"
											aria-label="Default select example" onfocus="loadCategory()">
											<option  value='' selected>Choose category</option>
										</select> <small class="text-danger form-text error"></small>
									</div>
								</div>
								<hr>
								<div class="input-group row">
									<b class="col-2">Size:</b>
									<div class="col-4">
										<select th:id="sizeSelect" class="form-select"
											aria-label="Default select example" onfocus="loadAttributeValue('size','sizeSelect')">
											<option  value='' selected>Choose size</option>
										</select> <small class="text-danger form-text error"></small>
									</div>
									<b class="col-1">Color:</b>
									<div class="col-4">
										<select th:id="colorSelect" class="form-select scrollable-select"
											aria-label="Default select example" onfocus="loadAttributeValue('color','colorSelect')">
											<option  value='' selected>Choose color</option>
										</select> <small class="text-danger form-text error"></small>
									</div>
								</div>
								<hr>
								<div class="row">
									<b class="col-2">Price:</b>
									<div class="col-7">
										<div class="input-group">
											<input th:id="price" type="text" class="form-control"> <span
												class="input-group-text">$</span>
												<small style="height:15px" th:id="price-error" class="text-danger form-text error"></small>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<b class="col-2">Current Price:</b>
									<div class="col-7">
										<div class="input-group">
											<input th:id="currentPrice" type="text" class="form-control"> <span
												class="input-group-text">$</span>
												<small style="height:15px" th:id="currentPrice-error" class="text-danger form-text error"></small>
										</div>
									</div>
								</div>
								<hr>
								<div class="input-group row">
									<b class="col-2">Gender:</b>
									<div class="col-7">
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio"
												name="inlineRadioOptions" id="inlineRadio1" value="true">
											<label class="form-check-label" for="inlineRadio1">Male</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input" type="radio"
												name="inlineRadioOptions" id="inlineRadio2" value="false">
											<label class="form-check-label" for="inlineRadio2">Female</label>
										</div>
									</div>
								</div>
								<hr>
								<div class="input-group row">
									<b class="col-2">Description:</b>
									<div class="col-7">
										<textarea th:id="description" class="form-control" name=""
											rows="3"></textarea>
										<small style="height:15px" th:id="discription-error" class="text-danger form-text error"></small>
									</div>
								</div>
								<hr>
								<div class="row">
									<b class="col-2">Image:</b>
									<div class="col-7">
										<div class="input-group">
											<input type="file" class="form-control"
												placeholder="Recipient's username"
												aria-label="Recipient's username"
												aria-describedby="button-addon2" id="file-input"
												 multiple>
											<button class="btn btn-danger" type="button"
												onclick="clearImage()" id="button-addon2">Clear</button>

										</div>
										<img id="frame" src="" style="width: 200px;" />
										<div th:id ="selected-images" style="display: flex; flex-wrap: wrap;">
										</div>
									</div>
								</div>
								<hr>
								<button class="btn btn-primary" type="button" onclick="saveProduct()">Save</button>
								<button class="btn btn-danger" type="button">Delete</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button type="button" onclick="myFunction()">Try it</button>
	<p id="demo"></p>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
	<script>
		//load category
		

	function myFunction() {
  var x = document.getElementById("category").value;
  document.getElementById("demo").innerHTML = x;
	}
		//loadCategory();
		function loadCategory() {
    const categorySelect = document.getElementById('category');
    $.ajax({
        url: "/category/getAll",
        type: "GET",
        dataType: 'json',
        data: {a:"a"},
        success: function(categories) {
        	if (categories.length != 0) {
        		categorySelect.innerHTML = "<option value='' selected>Choose category</option>";
	    		  categories.forEach(function(category) {
	    			    const optionElement = document.createElement('option');
	    			    optionElement.value = category.id;
	    			    optionElement.textContent = category.name;
	    			    categorySelect.appendChild(optionElement);
	    			});
	    		  
	          } else {
	              //alert(categories)
	          }
        },
        error: function(jqXHR, textStatus, errorMessage) {
            var error = jqXHR.responseJSON || jqXHR.responseText;
        }
    });
}
		//load color 
		
		function loadAttributeValue(attributeName,selectId){
			const colorSelect = document.getElementById(selectId);
			$.ajax({
			    url: "/attributeValue/getAll",
			    type: "GET",
			    dataType: 'json',
			    data:{attributeName: attributeName},
			    success: function(colors) {
			    	  if (colors.length != 0) {
			    		  colorSelect.innerHTML = "<option value='' selected>Choose "+attributeName +"</option>";
			    		  colors.forEach(function(color) {
			    			    const optionElement = document.createElement('option');
			    			    optionElement.value = color.id;
			    			    optionElement.textContent = color.name;
			    			    colorSelect.appendChild(optionElement);
			    			});
			    		  
			          } else {
			              // Xử lý khi danh sách có dữ liệu
			          }
			    },
			    error: function(jqXHR, textStatus, errorMessage) {
			    	var error = jqXHR.responseJSON || jqXHR.responseText;
			    	alert(error);
			    	alert("not ok")
			    }
			});
		}
		
		// Lấy khung hiển thị ảnh đã chọn
		const selectedImagesContainer = document.getElementById('selected-images');

		// Lấy khung chọn file
		const fileInput = document.getElementById('file-input');

		// Mảng chứa các file đã chọn
		let selectedFiles = [];

		// Xử lý sự kiện khi người dùng chọn file
		fileInput.addEventListener('change', () => {
			// Xóa các ảnh đã hiển thị trước đó
			  selectedImagesContainer.innerHTML = '';

		    // Lấy danh sách các file đã chọn
		    const files = fileInput.files;
		    
		    

		    // Thêm các file mới vào mảng
		    for (let i = 0; i < files.length; i++) {
		        selectedFiles.push(files[i]);
		    }

		    // Hiển thị các ảnh đã chọn trên màn hình
		    for (let i = 0; i < selectedFiles.length; i++) {
		        // Tạo khung chứa ảnh
		        const imageContainer = document.createElement('div');
		        imageContainer.className = 'selected-image';
		        imageContainer.style.marginRight='10px';

		        // Tạo đối tượng ảnh
		        const image = document.createElement('img');
		        image.src = URL.createObjectURL(selectedFiles[i]);
		        image.style.width = '100px';
		        image.style.height = '100px';
		        image.style.objectFit = 'cover';
		        image.style.objectPosition = 'center center';

		        

		        // Tạo nút xóa ảnh
		        const removeButton = document.createElement('div');
		        removeButton.className = 'remove-selected-image';
		       	removeButton.innerHTML = '<i class="bi bi-x-square"></i>';
		        removeButton.style.marginBottom = '-4px';

		        // Xử lý sự kiện khi người dùng click nút xóa ảnh
		        removeButton.addEventListener('click', () => {
		            // Xóa khung chứa ảnh
		            selectedImagesContainer.removeChild(imageContainer);

		            // Xóa ảnh khỏi mảng
		            const index = selectedFiles.indexOf(files[i]);
		            if (index > -1) {
		                selectedFiles.splice(index, 1);
		            }
		            //kiểm tra mảng chứa ảnh được chọn rỗng thì input nulls
		            //if (selectedFiles.length === 0) {
		              //  document.getElementById('file-input').value = null;
		              //}
		        });

		        // Thêm nút xóa vào khung chứa
		        imageContainer.appendChild(removeButton);
		     // Thêm ảnh vào khung chứa
		        imageContainer.appendChild(image);
				
		        // Thêm khung chứa ảnh vào khung hiển thị ảnh đã chọn
		        selectedImagesContainer.appendChild(imageContainer);
		        
		      //set lại số lượng file hiển thị trong input file
			 // document.getElementById('file-input').textContent = files.length+" files";
		    }
		});
		
		//buttoon clear image
		function clearImage() {
			document.getElementById('file-input').value = null;
			//xóa khung chưa ảnh
			selectedImagesContainer.innerHTML = '';
			//xóa trong mảng chứa file
			selectedFiles.splice(0, selectedFiles.length);
		}
		
		//save product
		function saveProduct() {
			var title = document.getElementById('title').value;
		    //var categoryId = document.getElementById("category").value;
		    var sizeAttributeValue = document.getElementById('sizeSelect').value;
		    var colorAttributeValue = document.getElementById('colorSelect').value;
		    var price = document.getElementById('price').value;
		    var currentPrice = document.getElementById('currentPrice').value;
		    var gender = document.querySelector('input[name="inlineRadioOptions"]:checked').value;
		    var description = document.getElementById('description').value;
    const formData = new FormData();

    for (let i = 0; i < selectedFiles.length; i++) {
        formData.append('file', selectedFiles[i]);
    }
    //set title
    formData.append('title', title);
    //set category
    formData.append('categoryId', parseInt(document.getElementById("category").value));
    //setSizeAttributeValue
    if(sizeAttributeValue!=null && sizeAttributeValue!=""){
    	formData.append('sizeAttributeValue', parseInt(document.getElementById('sizeSelect').value));
    }else{
    	formData.append('sizeAttributeValue', 0);
    }
    
  	//setColorAttributeValue
    if(colorAttributeValue!=null && colorAttributeValue!=""){
    	formData.append('colorAttributeValue', parseInt(document.getElementById('colorSelect').value));
    }else{
    	formData.append('colorAttributeValue', 0);
    }
    
    
    formData.append('price', parseFloat(document.getElementById('price').value));
    if(currentPrice!=null && currentPrice!=""){
    	formData.append('currentPrice', parseFloat(document.getElementById('currentPrice').value));
    }else{
    	formData.append('currentPrice', 0);
    }
    
    formData.append('gender', gender);
    formData.append('description', description);
    /*var productData = {
            title: title,
            category: category,
            sizeAttributeValue: sizeAttributeValue,
            colorAttributeValue: colorAttributeValue,
            price: price,
            currentPrice: currentPrice,
            gender: gender,
            description: description,
      };*/

        //formData.append('productRequestDto', JSON.stringify(productData));
        //formData.append('productRequestDto', JSON.stringify(productData));

    $.ajax({
        url: "/product/add",
        type: "POST",
        contentType: false,
        processData: false,
        data: formData,
        success: function(response) {
            clearImage();
            alert(response);
        },
        error: function(jqXHR, textStatus, errorMessage) {
            var error = jqXHR.responseJSON || jqXHR.responseText;
            alert(error);
        }
    });
}
		
		
	</script>
</body>
</html>