
<div
	class="col-auto col-md-4 col-lg-2 px-sm-2 px-0 bg-slidebar min-vh-100"
	th:fragment="slidebar">
	<div class=" flex-column align-items-sm-start px-3 pt-2">
		<a href="#"
			class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none ">
			<i class="fs-4 bi bi-speedometer2"></i><span
			class="fs-5 d-none d-sm-inline"> Dashboard</span>
		</a>
		<ul class="nav nav-pills flex-column " id="menu">
			<li><a href="oder.html"
				class="nav-link align-middle text-white align-items-center rounded collapsed"
				data-bs-toggle="collapse" data-bs-target="#dashboard-collapse-oder"
				aria-expanded="false"> <i class="fs-4 bi-table"></i> <span
					class="ms-1 d-none d-sm-inline">Orders</span>
			</a>
				<div class="collapse" id="dashboard-collapse-oder">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li><a href="AllOders.html"
							class="nav-link text-warning kt-menu"><i
								class="bi bi-caret-right-fill"></i> <span
								class="d-none d-sm-inline">All orders</span> </a></li>
						<li><a href="History_Oder.html"
							class="nav-link text-warning kt-menu"> <i
								class="bi bi-caret-right-fill"></i><span
								class="d-none d-sm-inline">Order History </span>
						</a></li>
						<li><a href="Unconfirmed_Oder.html"
							class="nav-link text-warning kt-menu"><i
								class="bi bi-caret-right-fill"></i> <span
								class="d-none d-sm-inline">Unconfirmed </span> </a></li>
						<li><a href="Confirmed_Oder.html"
							class="nav-link text-warning kt-menu"><i
								class="bi bi-caret-right-fill"></i> <span
								class="d-none d-sm-inline">Confirmed</span> </a></li>
					</ul>
				</div></li>

			<li><a href=""
				class="nav-link align-middle text-white align-items-center rounded collapsed"
				data-bs-toggle="collapse" data-bs-target="#dashboard-collapse"
				aria-expanded="false"> <i class="fs-4 bi-grid"></i> <span
					class="ms-1 d-none d-sm-inline">Products</span>
			</a>
				<div class="collapse" id="dashboard-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li><a href="newCategory.html"
							class="nav-link text-warning kt-menu"><i
								class="bi bi-caret-right-fill"></i> <span
								class="d-none d-sm-inline">Category</span> </a></li>
						<li><a href="attributes.html"
							class="nav-link text-warning kt-menu"> <i
								class="bi bi-caret-right-fill"></i><span
								class="d-none d-sm-inline">Attribiutes</span>
						</a></li>
						<li><a href="newProduct.html"
							class="nav-link text-warning kt-menu"><i
								class="bi bi-caret-right-fill"></i> <span
								class="d-none d-sm-inline">Product</span> </a></li>
					</ul>
				</div></li>
			<li><a href="user.html"
				class="nav-link  align-middle text-white"> <i
					class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span>
			</a></li>
			<li><a href="#" class="nav-link  align-middle text-white"> <i
					class="fs-4 bi bi-pencil-square"></i> <span
					class="ms-1 d-none d-sm-inline">Report</span>
			</a></li>
			<li><a href="feedback.html"
				class="nav-link  align-middle text-white"> <i
					class="fs-4 bi-chat-text-fill"></i> <span
					class="ms-1 d-none d-sm-inline">Feedback</span>
			</a></li>
		</ul>
		<hr>

	</div>
</div>


