<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="col-auto  px-sm-2 px-0 bg-slidebar">
		<div
			class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
			<a href="#"
				class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none ">
				<i class="fs-4 bi bi-speedometer2"></i><span
				class="fs-5 d-none d-sm-inline"> Dashboard</span>
			</a>
			<ul
				class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
				id="menu">
				<li><a href="#" class="nav-link px-0 align-middle text-white">
						<i class="fs-4 bi-table"></i> <span
						class="ms-1 d-none d-sm-inline">Orders</span>
				</a></li>

				<li><a href="#submenu3" data-bs-toggle="collapse"
					class="nav-link px-0 align-middle text-white"> <i
						class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span>
				</a>
					<ul class="collapse nav flex-column ms-1" id="submenu3"
						data-bs-parent="#menu">
						<li class="w-100"><a href="newCategory.html"
							class="nav-link px-0"> <span
								class="d-none d-sm-inline text-warning">Category</span>
						</a></li>
						<li><a href="attributes.html"
							class="nav-link px-0 text-warning"> <span
								class="d-none d-sm-inline">Attribiutes</span>
						</a></li>
						<li><a href="newProduct.html"
							class="nav-link px-0 text-warning"> <span
								class="d-none d-sm-inline">New Product</span>
						</a></li>
					</ul></li>
				<li><a href="#" class="nav-link px-0 align-middle text-white">
						<i class="fs-4 bi-people"></i> <span
						class="ms-1 d-none d-sm-inline">Customers</span>
				</a></li>
				<li><a href="#" class="nav-link px-0 align-middle text-white">
						<i class="fs-4 bi bi-pencil-square"></i> <span
						class="ms-1 d-none d-sm-inline">Report</span>
				</a></li>
				<li><a href="#" class="nav-link px-0 align-middle text-white">
						<i class="fs-4 bi-chat-text-fill"></i> <span
						class="ms-1 d-none d-sm-inline">Feedback</span>
				</a></li>
			</ul>
			<hr>
		</div>
	</div>
</body>
</html>